{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <div class="container post-detail">
        <p class="post-title">{{ post.title }}</p>
        <p class="post-subtitle">"{{ post.subtitle }}"</p>
        <p class="post-content">{{ post.body }}</p>
        <div class="post-footer">
            <p class="post-author"><i class="fa-solid fa-user"></i>&nbsp; {{ post.author }}</p>
            <p class="post-date">&nbsp; <i class="fa-solid fa-clock"></i>&nbsp;  {{ post.created_on }}</p>
        </div>
        <div class="post-back">
            <a href="{% url 'post_list' %}" class="card-text">Go back!</a>
            {% if user.id == post.author.id %}
                <div class="post-extra" style="margin-top:5px;">
                    <a href="{% url 'post_edit' post.id %}" class="card-text button-extra">Update</a>
                    <a href="{% url 'post_delete' post.id %}" class="card-text button-extra">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}